# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# Composer
composer.phar
composer.lock
vendor/

# IDE files
.idea/
.nbproject/
